[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pylatexenc = "*"
mdanalysis = "*"
jupyter = "*"
nglview = "*"
pandas = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
hooks = "conda install -y -c conda-forge openmm mdtraj openpathsampling openmmtools pymbar"
