[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pylatexenc = "*"
qiskit-ibm-runtime = "*"
qiskit = "*"
mdanalysis = "*"
jupyter = "*"
nglview = "*"
dwave-ocean-sdk = "*"
pandas = "*"
qiskit-research = {git = "git+https://github.com/qiskit-research/qiskit-research.git"}
openpathsampling = "*"
mdtraj = "*"
jupyter-contrib-nbextensions = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
