[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pylatexenc = "*"
mdanalysis = "*"
jupyter = "*"
nglview = "*"
pandas = "*"
jupyter-contrib-nbextensions = "*"
sqlalchemy = "*"
openpathsampling = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
hooks = "conda install -c conda-forge openmm mdtraj openpathsampling"
